/* 
  NOTE: All px values have been converted to rem (1rem = 16px).
*/

/* @font-face {
    font-family: Poppins-Medium;
    src: url("fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: Poppins-Regular;
    src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url("fonts/Poppins-SemiBold.ttf");
}
  */
:root {
  --font-medium: "Poppins-Medium";
  --font-semibold: "Poppins-SemiBold";
  --font-regular: "Poppins-Regular";
  --primary-color: #285E67;
  --secondary-color: #EBBFAE;
  --fruit-color: #FCE2D7;
  --gray-color: #F4F4F4;
  --dark2: #2B2B2B;
  --primary-text: #2a2a2a;
  --secondary-text: #fff;
  --primary2-text: #2b2b2b;
  --spacing1: 3rem; /* 48px */
  --spacing2: 1.75rem; /* 28px */
  --primary-background: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 81.25rem; /* 1300px */
    margin: auto;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100vh;
    
}
section{
    padding: 3.3125rem 0 3.3125rem 0; /* 53px */
}

/* Note on Media Queries: It's often best practice to use px for breakpoints 
   as they relate to viewport size, not font size. They are converted here 
   to rem as requested, but be aware this can cause unexpected behavior if a 
   user changes their browser's default font size. */
@media screen and (max-width: 84.375rem) { /* 1350px */
    .container{
        padding: 0.625rem; /* 10px */
    }
}

@media screen and (max-width: 77.5rem) { /* 1240px */
    .container{
        max-width: 74.375rem; /* 1190px */
    }
}

@media screen and (max-width: 64rem) { /* 1024px */
    .container{
        max-width: 55.25rem; /* 884px */
    }
} 

@media screen and (max-width: 48rem){ /* 768px */
    .container{
        max-width: 42.5rem; /* 680px */
    }
    section{
        padding: 1.125rem 0 1.125rem 0; /* 18px */
    }
}
@media screen and (max-width: 26.875rem) { /* 430px */
    .container{
        max-width: 22.5rem; /* 360px */
    }
} 

a{
    text-decoration: none;
}

p{
    color: var(--primary2-text);
    font-family: var(--font-regular);
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.5rem; /* 24px */
    width: 100%;
}

h1{
    color: var(--primary-text, #2A2A2A);
    text-align: center;
    font-size: 4.08375rem; /* 65.34px */
    font-weight: 600;
    line-height: 5.125rem; /* 82px */
    font-family: var(--font-semibold);
    width: 100%;
}

h2{
    color: var(--primary2-text, #2B2B2B);
    font-family: var(--font-semibold);
    font-size: 3.1575rem; /* 50.52px */
    font-weight: 600;
    width: 100%;
    padding-bottom: 3.8125rem; /* 61px */
    /* line-height: 3.875rem; */ /* 62px */
}
@media screen and (max-width: 48rem){ /* 768px */
    h2{
        line-height: 3.125rem; /* 50px */
        font-size: 2.48125rem; /* 39.7px */
    }
}
h3{
    color: #FFF;

    text-align: center;
    font-family: var(--font-semibold);
    font-size: 2.36875rem; /* 37.9px */
    font-weight: 600;
    line-height: 2.25rem; /* 36px */
}
a{
    font-family: var(--font-regular);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.btn{
    cursor: pointer;
    display: flex;
    width: 15.6875rem; /* 251px */
    height: 3.5rem; /* 56px */
    padding: 1rem; /* 16px */
    justify-content: center;
    align-items: center;
    gap: 1rem; /* 16px */
    border-radius: 4.1875rem; /* 67px */
    outline: none;
    border: none;
    text-align: center;
    font-family: var(--font-semibold);
    font-size: 1.333rem; /* 21.33px */
    font-weight: 600;
    line-height: 1.5rem; /* 24px */
}
/* Header--------------------------------------------------------- */


nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* padding-top: 2.0625rem; */ /* 33px */
    padding-bottom: 5.75rem; /* 92px */
    /* margin-left: 1.15625rem; */ /* 18.5px */
    position: relative;
}

.logo{
    padding-top: 2.0625rem; /* 33px */
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    border-radius: 1.25rem; /* 20px */
    transition: all 0.2s ease-in-out;
    position: relative;
}
.links a::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0.3125rem; /* 5px */
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.links a:hover::after{
    width: 100%;
}

.navbar .links a{
    font-family: var(--font-regular);
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.5rem; /* 24px */
    color: var(--dark2);
    margin-top: 2.0625rem; /* 33px */
    padding: 0.3125rem 1.25rem 0.3125rem 1.25rem; /* 5px 20px 5px 20px */
    transition: 0.2s;
}

.navbar .links span {
    margin-right: 0;
}

.off-screen-menu {
    background-color:  var(--primary-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -48.125rem; /* -770px */
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.5s ease-out;
    padding-bottom: 0.625rem; /* 10px */
    display: none;
}
.off-screen-menu.active {
    right: 0;
    padding-top: 3.125rem; /* 50px */
}

.off-screen-menu.active li a{
    transition: 0.2s;
}

ul{
    list-style: none;
}

ul li{
    position: relative;
}

ul li a::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0.1875rem; /* 3px */
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transition: all 0.2s ease-in-out;
    
}

ul li a:hover::after{
    width: 40%;
    transform: translate(-50%);
}

ul li a{
    color: var(--secondary-text);
    font-size: 0.875rem; /* 14px */
}

/* nav */
.hamburger {
    padding: 0.4375rem; /* 7px */
    display: none;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-top: 2.0625rem; /* 33px */
}

/* ham menu */
.ham-menu {
    height: 1.875rem; /* 30px */
    width: 1.875rem; /* 30px */
    position: relative;
    display: none;
}
.ham-menu .active span {
    height: 0.1875rem; /* 3px */
    width: 100%;
    background-color: #000;
    border-radius: 1.5625rem; /* 25px */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span {
    height: 0.1875rem; /* 3px */
    width: 100%;
    background-color: #000;
    border-radius: 1.5625rem; /* 25px */
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.3s;
}
.ham-menu span:nth-child(1) {
    top: 75%;
}
.ham-menu span:nth-child(3) {
    top: 25%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 77.5rem) { /* 1240px */
    .navbar{
        padding-bottom: 0;
    }
}
@media screen and (max-width: 48rem) { /* 768px */
    .hamburger{
        display: flex;
    }
    .ham-menu{
        display:flex;
    }
    .links{
        display: none;
    }
    .off-screen-menu{
        display:block;
    }
    .navbar{
        padding-bottom: 2.875rem; /* 46px */
    }
}
/* section 1 ---------------------------------------------*/

.wrapper1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper1images{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper1images img:hover{
    transform:translateY(-0.625rem); /* -10px */
}

.wrapper1images img{
    height: 24.4375rem; /* 391px */
    width: 100%;
    object-fit: cover;
    border-radius: 1rem; /* 16px */
    transition: 0.2s ease-in-out;
}

img.wrapper1image1{
    margin-right: var(--spacing1);
}

.btn.join-button{
    background: var(--primary-color);
    color: var(--secondary-text);
    transition: opacity 0.2s;
    margin-bottom: 3.5rem; /* 56px */
}

.btn.join-button:hover{
    opacity: 0.8;
}

.dawnofera{
    margin-bottom: 1.0625rem; /* 17px */
    text-align: center;
}

.dawnofera-subtitle{
    margin-bottom: 2.0625rem; /* 33px */
    text-align: center;
}
@media screen and (max-width: 77.5rem) { /* 1240px */
    .wrapper1images{
        width: 26.6875rem; /* 427px */
    }
    .wrapper1images img{
        border-radius: 1rem; /* 16px */
    }
    img.wrapper1image1{
        margin-right: var(--spacing2);
    }
}

@media screen and (max-width: 61.9375rem) { /* 991px */
    .wrapper1images{
        width: 22.25rem; /* 356px */
    }
    .wrapper1images img{
        border-radius: 1rem; /* 16px */
    }
    img.wrapper1image1{
        margin-right: var(--spacing2); 
    }
    h1{
        font-size: 2.36875rem; /* 37.9px */
        line-height: 2.9375rem; /* 47px */
    }
}

@media screen and (max-width: 48rem) { /* 768px */
    .wrapper1images{
        flex-direction: column;
    }
    .wrapper1images img{
        border-radius: 1rem; /* 16px */
    }
    .wrapper1images img.wrapper1image1{
        margin-right: var(--spacing2);
        margin-right: 0;
        margin-bottom: 1.75rem; /* 28px */
    }
    .join-button{
        width: 13.1875rem; /* 211px */
    }
}

/* Section 2 ------------------------------------------------ */

.wrapper2{
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 7rem 0.3125rem 7rem; /* 100px 112px 5px 112px */
    background-color: var(--primary-background);
    border-radius: 0.75rem; /* 12px */
}

.wellbeing-lefttext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36.8125rem; /* 589px */
    padding-bottom: 2.875rem; /* 46px */
}

.wellbeingdivs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yoga-img{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.wellbeing-header{
    padding-bottom: 2.5rem; /* 40px */
}

.yoga-img img{
    width: 18.1875rem; /* 291px */
    height: 18.375rem; /* 294px */
}

.wellbeingleftdiv{
    margin-right: 4.3125rem; /* 69px */
}

.wellbeingdivs img{
    height: 3.5625rem; /* 57px */
    width: 3.625rem; /* 58px */
}

.wellbeingdivs p{
    padding-top: 1.25rem; /* 20px */
}

@media screen and (max-width: 77.5rem) { /* 1240px */
    .wrapper2{
        padding: 4rem 4rem 0.3125rem 4rem; /* 64px 64px 5px 64px */
    }
}

@media screen and (max-width: 64rem) { /* 1024px */
    .yoga-img{
        display: none;
    }
    .wellbeing-lefttext{
        width: 100%;
        justify-content: center;
    }
    .wellbeing-lefttext h2{
        text-align: center;
    }
    .wellbeingdivs{
        padding: 0 2.1875rem 0 2.1875rem; /* 0 35px 0 35px */
    }
    .wellbeingdivs div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wellbeingdivs p{
        text-align: center;
    }
    .wrapper2{
        padding: 6.25rem 7rem 0.3125rem 7rem; /* 100px 112px 5px 112px */
    }
}

@media screen and (max-width: 48rem) { /* 768px */
    .wrapper2{
        padding: 6.25rem 3.25rem 0 3.25rem; /* 100px 52px 0px 52px */
    }
    .wellbeing-lefttext{
        padding-bottom: 0;
    }
}

@media screen and (max-width: 61.9375rem) { /* 991px */
    .wrapper2{
        padding: 4rem 2.1875rem 4rem 2.1875rem; /* 64px 35px 64px 35px */
    }
    h2{
        font-size: 2.48125rem; /* 39.7px */
    }
}

@media screen and (max-width: 48rem) { /* 768px */
    .wellbeingdivs{
        flex-direction: column;
        padding: 0;
    }
    .wellbeingleftdiv{
        margin: 0;
        padding-bottom: 1.625rem; /* 26px */
    }
}


/* Section 3---------------------------------------------- */

.wrapper3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.holding-plants{
    height: 36.0625rem; /* 577px */
    width: auto;
    border-radius: 1rem; /* 16px */
    object-fit: cover;
}

.organic-image{
    flex: 0 0 38.9375rem; /* 623px */
    height: 36.0625rem; /* 577px */
    border-radius: 1rem; /* 16px */
}

.organicproduce-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.25rem 0 3.25rem 1.5625rem; /* 52px 0 52px 25px */
}

.organic-heading{
    padding-bottom: 3.125rem; /* 50px */
}

.organicproduce-text 
.organic-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.organic{
    display: flex;
    align-items: center;
    padding-bottom: 3.125rem; /* 50px */
}

.organic p{
    padding-left: 1.4375rem; /* 23px */
    color: var(--primary-color);
}

.organic.one{
    padding-top: 3.125rem; /* 50px */
}

.organic.three{
    padding: 0;
}

@media screen and (max-width: 77.5rem) { /* 1240px */
    .organic-image{
        flex: 0 0 26.84375rem; /* 429.5px */
        overflow: hidden;
    }
    .organic-desc{
        padding-bottom: 2.8125rem; /* 45px */
    }
    .organic-heading{
        padding-bottom: 1rem; /* 16px */
    }
}

@media screen and (max-width: 61.9375rem) { /* 991px */
    .organicproduce-text{
        padding-left: 1.5625rem; /* 25px */
    }
    .organic{
        padding-bottom: 1.625rem; /* 26px */
    }
    .organic.one{
        padding-top: 1.625rem; /* 26px */
    }
    .organic-desc{
        padding-bottom: 0;
    }
}

@media screen and (max-width: 48rem) { /* 768px */
    .wrapper3{
        flex-direction: column;
    }
    .holding-plants{
        width: 22.5rem; /* 360px */
    }
    .organic span{
        display: none;
    }
    .organic-heading,
    .organic-desc{
        text-align: center;
    }
    .organic-heading{
        padding-bottom: 1rem; /* 16px */
    }
    .organicproduce-text{
        padding: 0.875rem 0 0 0; /* 14px */
    }
}

/* Section 4 ------------------------------------------------------------ */

.wrapper4{
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 7rem 3.5rem 7.625rem; /* 56px 112px 56px 122px */
    background-color: var(--primary-background);
    border-radius: 0.75rem; /* 12px */
}

.wellbeing2-lefttext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36.8125rem; /* 589px */
    padding-bottom: 2.875rem; /* 46px */
}

.wellbeing2divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fruits-img{
    display: flex;
    justify-content: center;
    align-items:center;
}

.fruits-img img{
    width: 18.1875rem; /* 291px */
    height: 18.375rem; /* 294px */
}

.wellbeing2leftdiv{
    margin-right: 4.3125rem; /* 69px */
}

.wellbeing2divs img{
    height: 3.5625rem; /* 57px */
    width: 3.625rem; /* 58px */
}

.wellbeing2divs p{
    padding-top: 1.25rem; /* 20px */
}

@media screen and (max-width: 77.5rem) { /* 1240px */
    .wrapper4{
        padding: 4rem 4rem 0.3125rem 4rem; /* 64px 64px 5px 64px */
    }
}

@media screen and (max-width: 64rem) { /* 1024px */
    .fruits-img{
        display: none;
    }
    .wellbeing2-lefttext{
        width: 100%;
        justify-content: center;
    }
    .wellbeing2-lefttext h2{
        text-align: center;
    }
    .wellbeing2divs{
        padding: 0 2.1875rem 0 2.1875rem; /* 0 35px 0 35px */
    }
    .wellbeing2divs div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wellbeing2divs p{
        text-align: center;
    }
    .wrapper4{
        padding: 6.25rem 7rem 0.3125rem 7rem; /* 100px 112px 5px 112px */
    }
}

@media screen and (max-width: 61.9375rem) { /* 991px */
    .wellbeing2-lefttext{
        padding: 0 3.125rem 0 3.125rem; /* 0px 50px 0px 50px */
    }
    .wrapper4{
        padding: 4rem 2.1875rem 4rem 2.1875rem; /* 64px 35px 64px 35px */
    }
    h2{
        font-size: 2.48125rem; /* 39.7px */
    }
}

@media screen and (max-width: 48rem) { /* 768px */
    .wellbeing2divs{
        flex-direction: column;
        padding: 0;
    }
    .wellbeing2leftdiv{
        margin: 0;
        padding-bottom: 1.625rem; /* 26px */
    }
    .wellbeing2-lefttext{
        padding: 0;
    }
    .wellbeing2-lefttext h2{
        padding-bottom: 2.1875rem; /* 35px */
    }
}

/* Last section-------------------------------------------- */

.finalwrapper{
    margin-bottom: -10%;
    position: relative;
}

.finalwrapper img{
    z-index: -1;
    position: relative;
    object-fit: cover;
}
.picturetext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 81.375rem; /* 1302px */
    height: 41.6875rem; /* 667px */
    color:  #fff;
    z-index: 2;
}

.picturetext p{
    width: 40.625rem; /* 650px */
    color: #FFF;
    text-align: center;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.5rem; /* 24px */
    padding-bottom: 1.75rem; /* 28px */
}

.leaf{
    width: 5.75rem; /* 92px */
    height: 5.125rem; /* 82px */
}

h3{
    padding-top: 2.8125rem; /* 45px */
    padding-bottom: 0.75rem; /* 12px */
}

.btn.second{
    border-radius: 4.1875rem; /* 67px */
    border: 0.0625rem solid var(--primary-background); /* 1px */
    margin-bottom: 3.125rem; /* 50px */
    background: transparent;
    color: white;
    transition: all 0.2s ease-in-out;
}

.btn.second:hover{
    background: white;
    color: var(--primary-color);
}

.plantprotective {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping into rows for responsiveness */
    padding: 7.4375rem 4.125rem 5.875rem 4.125rem; /* 119px 66px 94px 66px */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Aligns items vertically */
    position: relative;
    top: -10.3125rem; /* -165px */
    left: 50%;
    transform: translate(-50%, 0); 
    border-radius: 0.75rem; /* 12px */
    background: var(--fruit-color);
    width: 100%;
    max-width: 72.8125rem; /* 1165px */
    object-fit: contain;
}

.plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5625rem; /* 25px */
    flex: 1 1 calc(25% - 3.125rem); /* 50px */
    max-width: calc(25% - 3.125rem); /* 50px */
}

.plant p {
    text-align: center;
}

@media screen and (max-width: 77.5rem) { /* 1240px */
    .plantprotective {
        padding: 3.8125rem 4.125rem 3.8125rem 4.125rem; /* 61px 66px 61px 66px */
        max-width: 46.4375rem; /* 743px */
    }

    .plant {
        flex: 1 1 calc(50% - 3.125rem); /* 50px */
        max-width: calc(50% - 3.125rem); /* 50px */
    }
}

@media screen and (max-width: 48rem) { /* 768px */
    .plantprotective {
        padding: 3.8125rem 0 3.8125rem 0; /* 61px 0 61px 0 */
        max-width: 18.625rem; /* 298px */
        top: -4.25rem; /* -68px */
    }

    .plant {
        flex: 1 1 100%; /* Single column for mobile screens */
        max-width: 100%;
        margin: 1.5rem 0; /* 10px */
    }

    .finalwrapper .background-img img {
        height: 22.125rem; /* 354px */
        border-radius: 0.75rem; /* 12px */
    }

    .picturetext {
        height: 22.125rem; /* 354px */
    }

    .leaf {
        width: 2.875rem; /* 46px */
        height: 2.5625rem; /* 41px */
    }

    h3 {
        font-size: 1.333rem; /* 21.33px */
        line-height: 1.9375rem; /* 31px */
        padding: 0.8125rem 3.90625rem 0.8125rem 3.90625rem; /* 13px 62.5px 13px 62.5px */
    }

    .btn.second {
        height: 2.875rem; /* 46px */
        padding: 1rem; /* 16px */
        font-size: 1.02rem; /* 16.33px */
        line-height: 1.5rem; /* 24px */
        width: 12.375rem; /* 198px */
    }

    .picturetext p {
        display: none;
    }

    .finalwrapper {
        margin-bottom: -10%;
    }
}

/* Footer--------------------------------------------------------- */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.875rem 8.6875rem 4.875rem 8.6875rem; /* 78px 139px 78px 139px */
    background: var(--primary-color);
}

.footer-logolink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 2.25rem; /* 36px */
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 21.6875rem; /* 347px */
}

.footer-links a{
    
    color: #fff;
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 24px */
    border-radius: 1.25rem; /* 20px */
    transition: 0.2s ease-in-out;
    position: relative;
}

.footer-links a::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0.1875rem; /* 3px */
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.footer-links a:hover::after{
    width: 80%;
}

.footer-socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-socials a{
    color: white;
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
    margin-right: 1.5rem; /* 24px */
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials a:hover{
    transform: translateY(-0.625rem); /* -10px */
}

.footer-socials a img{
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
}

@media screen and (max-width: 61.9375rem) { /* 991px */
    .footer-logolink{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .footer-links{
        padding-top: 2.25rem; /* 36px */
    }
}
@media screen and (max-width: 48rem) { /* 768px */
    .footer-links{
        grid-template-columns: repeat(2, 5.5rem); /* 88px */
        justify-content: center;
        width: auto;
    }
    .link.one,
    .link.two
    {
        margin-bottom: 2.25rem; /* 36px */
    }
    .footer{
        align-items: center;
    }
    .footer-logolink{
        align-items: flex-start;
    }
    .footer-socials a img{
        object-fit: cover;
        width: 1.3125rem; /* 21px */
        height: 1.375rem; /* 22px */
    }
    .footer-socials{
        justify-content: center;
    }
    .footer-socials{
        text-align: center;
    }
}