@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    min-width: 375px;
}

body {
    background: url('./images/back.png') no-repeat center center/cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.container {
    border-radius: 20px;
    padding: 40px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #398f51;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2 {
    color: #298342;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.image {
    margin-bottom: 5rem;
}

.image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

p {
    font-size: 2rem;
    color: #fff;
    line-height: 3.2rem;
    margin-bottom: 5rem;
}

.btn {
    display: inline-block;
    padding: 2rem 6rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0.5s;
}

.btn:hover {
    background: #dadada;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    body{
        padding: 5px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
}