*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fd562a;
    --secondary-color: rgba(255, 255, 255, 0.4);
}

#service-section{
    min-height: 740px;
    width: 100%;
    background: #20223a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#service-section h2{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

#service-section h2::after{
    content: " ";
    position:absolute;
    top: 30%;
    left:-30px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid var(--primary-color);
}

#service-section h2::before{
    content: " ";
    position:absolute;
    top: 30%;
    right:-30px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid var(--primary-color);
}

#service-section #paragraph{
    width: 45%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}

.cards .card{
    height: 280px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: rgb(65, 62, 105);
    position: relative;
    border-radius: 10px;
    margin: 0 10px;
}

.card::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: var(--primary-color);
    transform: (rotate(0deg));
    z-index:-1;
}

.card:hover .card::before{
    transform: rotate(10deg);
}

.cards .card i{
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.card h3{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
}

.card .content p{
    color: (255, 255, 255, 0.5);
    font-size: 1.05rem; 
    margin-bottom: 20px;
    font-weight: 500;
}

@media(max-width:1100px){
    #service-section h2{
        margin-top: 30px;;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    #service-section #paragraph{
        width: 80%;
    }
}

@media(max-width: 900px){
    .cards .card{
        height: 320px;
        width: 400px;
        margin: 20px 0;
    }
}