body.dark{
    background: var(--secondary-text);
}



body.dark .footerlinks p{
    color: var(--darkmode-primary);
}

body.dark a,
body.dark h2,
body.dark h4,
body.dark h1{
    color: var(--darkmode-primary);
}

body.dark .courses-wrapper h3{
    color: var(--darkmode-primary);
}
body.dark .links a::after{
    background-color:var(--darkmode-primarybutton);
}

body.dark .menu svg path{
    stroke: white;
}

body.dark .off-screen-menu{
    background: var(--text-white);
}

body.dark .off-screen-menu a{
    color: var(--primary-color);
}

body.dark .off-screen-menu a::after{
    background: var(--primary-color);
}

body.dark .label{
    background: var(--darkmode-primarybutton);
    color: var(--darkmode-btntext);
}

body.dark .ham-menu span{
    background-color: white;
}

body.dark .ham-menu.active span{
    background-color: #262626;
}

body.dark .lightdark{
    background: #262626;
    border: 1px solid #737373;
}

body.dark .lightdark img{
    color: white;
}

body.dark p.duration{
    color: var(--darkmode-primary);
}

body.dark p.duration img{
    margin-right: 5px;
}

body.dark .explore2text h3{
    color: var(--darkmode-primary);
}

body.dark p{
    color: var(--darkmode-secondary);
}

body.dark footer{
    background: #171717;
}

body.dark .btn,
body.dark .contactus
{
    background: var(--darkmode-primarybutton);
}

body.dark .btn,
body.dark .contactus{
    color: var(--darkmode-btntext);
}

body.dark header.show{
    background: var(--secondary-text);
}

body.dark .watchvideo p{
    color: var(--darkmode-primarybutton);
}

body.dark .recommend{
    color: var(--text-white);
}

body.dark svg.footer-logo path,
body.dark .logo svg path,
body.dark .lightdark svg path{
    fill: #f5f5f5;
}
body.dark .watchvideo svg path{
    stroke: var(--darkmode-primarybutton);
}

/* hover */

body.dark #button{
    background-color: var(--darkmode-primarybutton);
}

body.dark .footerlinks a span::after{
    background-color: var(--darkmode-primarybutton);
}