:root {
    --font-medium: "Inter-Medium";
    --font-semibold: "Inter-SemiBold";
    --font-regular: "Inter-Regular";
    --font-bold: "Inter-Bold";
    --font-light: "Inter-Light";
    --font-black: "Inter-Black";
    --text-white: #fff;
    --primary-text: #171717;
    --primary-color: #8B5CF6;
    --secondary-text: #262626;
    --desc-color: #737373;
    --border-color: #e5e5e5;
    --background-color: #f5f5f5;
    --darkmode-primary: #fafafa;
    --darkmode-secondary: #a3a3a3;
    --darkmode-primarybutton: #ddd6fe;
    --darkmode-btntext: #4c1d95;
}   

.btn{
    background: var(--primary-color);
    color: var(--text-white);
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
    font-size: 16px;
    line-height: 100%; /* 16px */
    letter-spacing: 0.32px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}

body{
    background: var(--background-color); 
}

.scrollup{
    position: fixed;
    top: 10px;
    z-index: 99999;
}

.scrollup i{
    object-fit: cover;
}

.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    max-width: 1506px;
}


/* @media screen and (max-width: 1024px) {
    .container{
        max-width: 864px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 700px;
    }
}

@media screen and (max-width: 430px) {
    .container{
        max-width: 400px;
    }
} */
/* First section----------------------------------------------------------------------------------------------- */
 .image-section{
    overflow: hidden;
    width: 100%;
    position: relative; 
}

.background{
    position: absolute;
    top: -25%;
    width: 1726px;
    height: auto;   
    width: 1726px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
    .background{
        top: -5%;
        width: 900px;
    }
}
 .background img{
    height: auto;
} 

.absolute-section{
    position: relative;
    top: 0;
}  

header{
    padding: 30px 8px 30px 8px;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    left: 0;
    transition: all 0.3s ease-in-out;
}

header.show{
    background: var(--background-color);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar a{
    color: var(--primary-text);
/* XL/XL Normal */
    font-family: var(--font-medium);
    font-size: 20px;
    line-height: 28px; /* 140% */
    margin-right: 20px;
    padding: 10px;
}

@media screen and (max-width: 1024px){
    .navbar{
        padding-right: 0;
        padding-left: 0;
    }
}

.links{
    display: flex;
    justify-content: center;
}

.links a{
    position: relative;
}

.logo{
    cursor: pointer;

}


.contactus:hover{
    opacity: 0.7;
}

.links a::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0.3125rem; /* 5px */
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.links a:hover::after{
    width: 100%;
}
.links a.contactus::after,
.links .lightdark::after{
    content: none;
}


/* .navbar a:last-child{
    margin-right: 0;
} */

.logo{
    align-self: flex-start;
}

.navbar a.contactus{
    color: var(--text-white);
    font-family: var(--font-medium);
    padding: 10px 24px 10px 24px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .lightdark{
    padding: 11px;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background: var(--text-white);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar .lightdark.active{
    color: var(--text-white);
    background: var(--secondary-text);
}

.off-screen-menu {
    background-color:  var(--primary-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -170.125rem; /* -770px */
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;
    font-size: 3rem;
    transition: 0.5s ease-in-out;
    padding-bottom: 0.625rem; /* 10px */
}
.off-screen-menu.active {
    /* display: flex; */
    right: 0;
    padding-top: 3.125rem; /* 50px */
    z-index: 2;
}

.off-screen-menu.active li a{
    transition: 0.2s;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar ul button.lightdark{
    margin-top: 20px;
}

ul li{
    position: relative;
    display: flex;
    justify-content: center;align-items: center;
}


ul li a::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0.1875rem; /* 3px */
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transition: all 0.2s ease-in-out;
    
}

ul li a:hover::after{
    width: 80%;
    transform: translate(-50%);
}

.navbar ul li a{
    color: var(--text-white);
    font-size: 0.875rem; /* 14px */
    margin-right: 0;
}

.hamburger {
    padding: 0.4375rem; /* 7px */
    display: none;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    cursor: pointer;
    /* margin-top: 2.0625rem; 33px */
    z-index: 3;
}

/* ham menu */
.ham-menu {
    height: 1.875rem; /* 30px */
    width: 1.875rem; /* 30px */
    position: relative;
    display: none;
}
.ham-menu .active span {
    height: 0.1875rem; /* 3px */
    width: 100%;
    background-color: #000;
    border-radius: 1.5625rem; /* 25px */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span {
    height: 0.1875rem; /* 3px */
    width: 100%;
    background-color: #000;
    border-radius: 1.5625rem; /* 25px */
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.3s;
}
.ham-menu span:nth-child(1) {
    top: 75%;
}
.ham-menu span:nth-child(3) {
    top: 25%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


@media screen and (max-width: 775px) {
    .links{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    .ham-menu{
        display:flex;
    }
}

/* Hero ------------------------------------------------------------------------- */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 119px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 787px;
    padding-top: 139px;
}

.hero-heading{
    color: var(--secondary-text);
    text-align: center;
    font-family: var(--font-bold);
    font-size: 80px;
    line-height: 110%; /* 88px */
    margin-bottom: 40px;
}

.hero-text{
    color: var(--desc-color);
    text-align: center;
    font-family: var(--font-regular);
    font-size: 24px;
    font-style: normal;
    line-height: 130%; /* 31.2px */
    margin-bottom: 40px;
}

.btn.travel{
    width: 184px;
    height: 52px;
    padding: 14px 32px;
    margin-bottom: 12px;
    transition: 0.2s ease-in-out
}
.travel:hover{
    opacity: 0.7;
}



.watchvideo{
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    display: flex;
    padding: 14px 24px 14px 32px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 100%; /* 16px */
    letter-spacing: 0.32px;
    width: 184px;
    height: 52px;
}
.watchvideo p i{
    margin-left: 8px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watchvideo p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchvideo:hover i{
    transform: translateX(10px);
}

.watchvideo p{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .hero-heading{
        font-size: 38px;
    }
    .hero-text{
        font-size: 20px;
    }
    .travel{
        height: 56px;
    }
    .watchvideo{
        height: 56px;
    }
}

/* Explore Card section--------------------------------------------------------- */

.explore-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 257px 0px 128px 0px;
    flex-wrap: wrap;
    
}

.explore-card:hover{
    transform:translateY(-10px);
}

.explore-card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 32px;
    border-radius: 10px;
    background: #000;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}
.explore-card:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .explore-card{
        width: 100%;
        margin-right: 0;
    }
    .explore-wrapper{
        padding: 187px 0 96px 0;;
    }

}
.explore-icon{
    padding: 10px;
    margin-right: 10px;
}

.explore-desc{
    width: 322px;
}

.explore-topic{
    color: var(--text-white);
    font-family: var(--font-semibold);
    font-size: 38px;
    line-height: 100%; /* 38px */
    margin-bottom: 10px;
}

.explore-text{
    color: var(--text-white);
    font-family: var(--font-regular);
    font-size: 24px;
    line-height: 28px; /* 116.667% */
}

@media screen and (max-width: 768px) {
    .explore-topic{
        font-size: 30px;
    }
    .explore-text{
        font-size: 20px;
    }
    .explore-desc{
        width: 279px;
    }
    .explore-wrapper{
        padding-top: 142px;
    }
    .hero{
        padding-top: 112px;
    }
}
/* Course Cards -----------------------------------------------*/


.courses-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
}

.swiper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.courseSwiper .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
 
.courseSwiper .swiper-slide {
  /* display: flex; */
  height: auto;
}
      /* .cardcontent{
        width: 354.5px;
      } */
      .swiper-slide{
        border-radius: 8px;
        height: auto;
        border: 1px solid var(--border-color);
        padding: 16px;
        width: 100%;
        transition: all 0.2s ease-in-out;
      }
      .swiper-slide:hover{
        transform: scale(0.95);
      }
      /* .swiper-wrapper{
        display: flex; 
      } */

      /* .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      } */
/* .swiper{
    margin: 0;
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
} */

/* @media screen and (max-width: 1366px) {
    .swiper .swiper-wrapper{
        width: 785px;
        overflow: visible;
    }
} */

/* .swiper .swiper-wrapper{
    display: flex;
    align-content: center;
    width: auto;
} */

/* .swiper .slide-wrapper .swiper-slide{
    padding: 16px;
    margin-right: 12px;
    margin-left: 12px; 
    width: 354.5px;
    border-radius: 16px;
    border: 1px solid var();
    background: var(--text-white);
    position: relative;
    
} */

.cardcontent img.course-bg{
    width: 100%;
}
/* .course-card:last-child{
    margin-right: 0;
}
.course-card:first-child{
    margin-left: 0;
} */

.courses-wrapper h3{
    color: var(--primary-text);
    font-family: var(--font-semibold);
    font-size: 38px;
    line-height: 100%; /* 38px */
    margin-bottom: 40px;
}

.swiper-slide h4{
    color: var(--primary-text);
    font-family: var(--font-semibold);
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    padding-bottom: 8px;
    padding-top: 24px;
}

.swiper-slide p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--desc-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: 0.28px;
}

.swiper-slide p.duration{
    color: var(--primary-text);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: 0.28px;
    padding-bottom: 25.5px;
}

.hourglass{
    padding-right: 5px;
}

.swiper-slide p.duration span.time{
    padding-left: 2px;
}

.swiper-slide p.author{
    padding-bottom: 21.5px;
}

.swiper-slide p span.price{
    padding-right: 5px;
}

.swiper-slide .btn.buybtn{
    padding: 10px 24px;
    margin-top: 8px;
    font-family: var(--font-semibold);
}

.buybtn:hover{
    opacity: 0.7;
}

.swiper-slide .buybtn span.discountprice{
    padding-left: 5px;
}

.label{
    position: absolute;
    top: 33px;
    left: 29px;
    padding: 8px 16px;
    background: var(--primary-color);
    color: var(--text-white);
    font-family: var(--font-medium);
    font-size: 14px;
    font-style: normal;
    line-height: 100%; /* 14px */
    letter-spacing: 0.28px;
    border-radius: 8px;
}

/* @media screen and (max-width: 1240px) {
    .swiper{
        width: 785px;
    }
} */

@media screen and (max-width: 1024px) {
    .courses-wrapper{
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {


    /* .swiper{
        width: auto;
    }
    .swiper-slide{
        margin-bottom: 24px;
    }
    .swiper-slide:last-child{
        margin-bottom: 0;
    }
     */
 } 
/* @media screen and (max-width: 768px) {
    .swiper .swiper-wrapper {
        flex-direction: column;
        width: 100%; 
    } */

    
/* } */


/* Recommendation section--------------------------------------- */

.recommendation-wrapper{
    margin-top: 128px;
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    position: relative;
}
.recommendation-wrapper img{
    position: relative;
    width: 100%;
}

.recommendation-wrapper .recommendtext{
    position: absolute;
    text-align: center;
    padding: 165px 318px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.recommendtext h2{
    color: var(--text-white);
    text-align: center;
    font-family: var(--font-semibold);
    font-size: 48px;
    line-height: 100%; /* 48px */
    padding-bottom: 32px;
}

.recommendtext p{
    color: var(--text-white);
    text-align: center;
    font-family: var(--font-semibold);
    font-size: 38px;
    line-height: 100%; /* 38px */
}

@media screen and (max-width: 1500px) {
    .recommendation-wrapper .recommendtext{
        padding: 165px 200px
    }
}

@media screen and (max-width: 1240px) {
    .recommendation-wrapper .recommendtext{
        padding: 223px 80px;
    }
    .recommendation-wrapper img{
        height: 754px;
    }
    .recommendation-wrapper{
        margin-bottom: 128px;
    }
}

@media screen and (max-width: 1024px) {
    .recommendation-wrapper{
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .recommendation-wrapper .recommendtext{
        padding: 152.5px 15px;
    }
    .recommendation-wrapper img{
        height: 631px;
        width: 100%;
    }
    .recommendtext h2{
        font-size: 30px;
    }
    .recommendtext p{
        font-size: 24px;
        line-height: 32px;
    }
}

/* Bigger explore section------------------------------------------- */

.explore2wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 9.375rem;
}

.explore img{
    transition: 0.2s ease-in-out;
}

.explore img:hover{
    transform: scale(1.05);
}

.explore2text{
    padding: 12px 0 0 97px;
}

.explore2text h3{
    color: var(--primary-text);
    font-family: var(--font-semibold);
    font-size: 48px;
    line-height: 100%; /* 48px */
    padding-bottom: 20px;
}

.explore2text p{
    color: var(--desc-color);
    font-family: var(--font-regular);
    font-size: 30px;
    line-height: 130%; /* 39px */
}

@media screen and (max-width: 1240px) {
    .explore{
        flex-direction: column;
    }
    .explore2text{
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .explore img{
        width: 400px;
        height: auto;
    }
    .explore2text{
        padding: 15px 0 0 0;
    }
    .explore2text h3{
        font-size: 30px;
    }
    .explore2text p{
        font-size: 20px;
    }
}


/* Footer------------------------------------------ */

footer{
    background: #fff;
    padding: 100px 150px;
}

.footer-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logosocials{
    display: flex;
    flex-direction : column;
    align-items: flex-start;
    padding-right: 120px;
}

.footer-logo{
    margin-bottom: 60px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.socials a{
    transition: all 0.2s ease-in-out;
    margin-right: 12px;
}

.socials a:hover{
    transform: translateY(-10px);
}

.socials img:last-child{
    margin-right: 0;
}

.services{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footerlinks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 120px;
}

.footerlinks h4{
    color: var(--primary-text);
    font-family: var(--font-semibold);
    font-size: 28px;
    line-height: 100%; /* 28px */
    padding-bottom: 50px;
}

.footerlinks a{
    color: var(--primary-text);
    font-family: var(--font-regular) ;
    font-size: 24px;
    line-height: 100%; /* 24px */
    margin-bottom: 25px;
    cursor: pointer;
}
.footerlinks a{
    position:relative;
    padding-bottom: 5px;
    display: inline-block;
}

.footerlinks a:last-child{
    margin-bottom: 0;
}

.footerlinks span{
    position: relative;
    padding-bottom: 5px;
}

.footerlinks a span::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0.3125rem; /* 5px */
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.footerlinks a:hover span::after{
    width: 100%;
}

.footerlinks.companies{
    padding-right: 0;
}

.footerlink{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1366px) {
    .footer-wrapper{
        flex-direction: column;
        align-items: flex-start;    
    }
    .logosocials{
        padding-bottom: 96px;
    }
}

@media screen and (max-width: 991px) {
    footer{
        padding: 100px 80px;
    }
}

@media screen and (max-width: 768px) {
    .footerlinks.companies{
        display: none;
    }
    footer{
        padding: 100px 15px 54px 15px;
    }

    .logosocials{
        padding-right: 0;
    }
    .footerlinks.resources{
        padding-right: 0;
    }
}
@media screen and (max-width: 768px) {
.courseSwiper,
  .courseWrapper {
    display: block !important;
  }
}



#button {
  display: inline-block;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999999999;
}
#button i{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button::after {
  content: "";
  font-family: var(--font-medium);
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  opacity: 0.7px;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}